*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s ease;
}
a:hover{
    color: antiquewhite;
}
#sidebarToggle{
    display: none;
}
 #menuButton{
    display: none;
 }

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*==========================Header==================*/
.header { 
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgb(224, 104, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
 }
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links a{
    padding-right: 30px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logoImg{
    margin-left: 30px;
}
.logoImg img{
    height: 46px;
    width: 46px;
}
.logoTxt{
    padding: auto;
    margin-left: 10px;
}

 /*=======================Sidebar===================*/
.overlay-label{
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    height: 100vh;
    width:100vw;
    left: -100%;
    top:0;
    z-index: 9;
}
 .overlay{
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    height: 100vh;
    width:100%;
    left: -100%;
    top:0;
    overflow-y: hidden;
    z-index: inherit;
}
.sideBar{
    position: fixed;
    height: 100vh;
    width:70%;
    background-color: coral;
    left: -100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: left 0.6s ease;
    z-index: 10;
}
.menuClose{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 40px;
}
.sideBar-links{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.sideBar-links a{
    padding-bottom: 15%;
}
#menuOpen{
    padding: 30px;

}

 /*==========================Main Body=============*/
.main {
     grid-area: 2 / 1 / 5 / 6; 
     background-color: rgb(7, 151, 151);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
    }



/*==========================Footer====================*/    
.footer {
     grid-area: 5 / 1 / 6 / 6; 
     background-color: rgb(1, 250, 167);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
    }


/*====================Mobile View=====================*/
@media(max-width:650px){
    .header { 
        justify-content: flex-start;
    }
    .logoImg{
        margin-left: 0;
    }
    .navs{
        display: none;
    }
    #menuButton{
        display: block;
    }
    #sidebarToggle:checked ~ .sideBar{
        left:0;
    }
    #sidebarToggle:checked ~ .overlay-label{
        left:0;
    }
    
}