*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.5s ease;
}
a:hover{
    color: antiquewhite;
}
#sidebarToggle{
    display: none;
}
 #menuButton{
    display: none;
 }

.parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/*==========================Header==================*/
.header { 
    background-color: rgb(224, 104, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
 }
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
}
.nav-links a{
    padding-right: 70px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logoImg{
    margin-left: 30px;
}
.logoImg img{
    height: 46px;
    width: 46px;
}
.logoTxt{
    padding: auto;
    margin-left: 10px;
}
#menuOpen svg{
    cursor: pointer;
    transition: transform 0.8s ease;
}
#menuOpen svg:hover{
    transform: rotate(180deg);
}
#menuClose svg{
    transition: transform 0.8s ease;
    cursor: pointer;
}
#menuClose svg:hover{
    transform: rotate(-180deg);
}
 /*=======================Sidebar===================*/
.overlay-label{
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    height: 100vh;
    width:100%;
    left: -100%;
    top:0;
    z-index: 9;
}
.sideBar{
    position: fixed;
    height: 100vh;
    width:70%;
    background-color: coral;
    left: -100%;
    top:0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: left 0.8s ease,opacity 0.8s ease;
    z-index: 10;
}
.menuClose{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 40px;
}
.sideBar-links{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.sideBar-links a{
    margin-bottom: 15%;
}
#menuOpen{
    padding: 30px;

}

 /*==========================Main Body=============*/
.main {
     background-color: white;
     display: flex;
     flex-direction: column;
     width: 100%;
    }
.topMain{
    background-color: rgba(255, 0, 0, 0.418);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.midMain{
   background-color: rgba(211, 200, 42, 0.418);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.botMain{
    background-color: rgba(169, 69, 199, 0.418);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*==========================Footer====================*/    
.footer {
     background-color: rgb(0, 163, 109);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
     height: 150px;
    }


/*====================Mobile View=====================*/
@media(max-width:880px){
    .header { 
        justify-content: flex-start;
    }
    .logoImg{
        margin-left: 0;
    }
    .nav-links{
        display: none;
    }
    #menuButton{
        display: block;
    }
    #sidebarToggle:checked ~ .sideBar{
        left:0;
        opacity: 1;
    }
    #sidebarToggle:checked ~ .overlay-label{
        left:0;
    }
    
}